<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vulnerable Bank - Home</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 100px;
      background-color: #f8f9fa;
    }
    h1 {
      color: #d9534f;
    }
     .login {
      background-color: #fc7f7a;
    }
      button {
      width: 220px;
      padding: 15px;
      margin: 20px;
      font-size: 20px;
      cursor: pointer;
      border: none;
      border-radius: 6px;
      color: white;
      box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    }
  </style>
</head>
<body>
  <h1>Welcome to Vulnerable Bank</h1>
<form action="/login" method="POST">
    <button type="submit" class="login">Login</button>
</form>
</body>
</html>